/* ================================================= */
/* === ICÔNES SVG === */
/* ================================================= */

.icon-svg {
  display: flex;
  width: inherit;
  height: inherit;
  place-self: center;
}
