/* ================================================= */
/* === POLICES ET TEXTES GÉNÉRAUX === */
/* ================================================= */

@use "../abstract/variables" as *;

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display/sf-pro-display-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display/sf-pro-display-medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display/sf-pro-display-semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display/sf-pro-display-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/sf-pro-display/sf-pro-display-black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

body {
  font-family: $police-principale;
  font-size: 16px;
  line-height: 1.5;
}
