/* ================================================= */
/* === SECTIONS PROPRES À LA PAGE D'ACCUEIL === */
/* ================================================= */

@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

section.catalogue {
  @include flex-center(column);
  background-color: $couleur-bleu-pale;  

  h2 {
    @include flex-center(column, start, start, 0);
    color: $couleur-bleu-nuit;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    /**/
    width: 100%;
    max-width: $largeur-conteneur-enfant;
    padding: $espace-tres-grand $espace-grand 0;
  }
}

.catalogue__container {
  @include flex-center(column);
  max-width: $largeur-conteneur-enfant;
  padding: 25px $espace-grand 0;
}

.catalogue__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

@include media-queries($breakpoint-tablette) {
  .catalogue__container,
  .catalogue__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: $breakpoint-tablette;
    height: unset;
  }
}

@include media-queries($breakpoint-mobile) {
  .catalogue__container,
  .catalogue__wrapper {
    width: unset;
    max-width: $breakpoint-mobile;
    height: unset;
  }

  section.catalogue h2 {
    align-items: start;
    padding-left: 0;
}
}
